<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список специалистов поликлиники</title>
    <link rel="stylesheet" href="/styles.css">
    <script>
        function filterTable() {
            // Получаем все строки таблицы
            const rows = document.querySelectorAll('table tr');
            // Перебираем все строки
            rows.forEach((row, index) => {
                // Пропускаем заголовки
                //if (index === 0) return;
                // Находим чекбокс в текущей строке
                const checkbox = row.querySelector('input[type="checkbox"]');
                // Если чекбокс не отмечен, скрываем строку
                if (!checkbox.checked) {
                    row.style.display = 'none';
                } else {
                    row.style.display = ''; // Показываем строку
                }
            });
        }
    </script>
</head>
<body>
<h1>Список специалистов поликлиники</h1>
<!--<img th:src="@{/images/cat.jpg}" width="200" height="auto">-->
<img th:src="@{/naglavnyu.jpg}" alt="Педиатр" style="max-width: 100%; height: auto;">
<img th:src="@{/policlinik.jpg}" alt="Педиатр" style="max-width: 50%; height: auto;">

<table>
    <tr>
        <th>
            <a href="/specialist-schedule">
                <input type="checkbox"> Врачи специалисты
            </a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="/pediatrician-schedule">
                <input type="checkbox"> Врачи-участковые педиаторы
            </a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="/pediatric_sections">
                <input type="checkbox"> Перечень педиатрических участков
            </a>
        </th>
    </tr>
</table>
<button onclick="filterTable()">Выбор по "галочке"</button> Кнопка для фильтрации
<button onclick="location.href='/'">Назад</button> к списку специалистов поликлиники

<h1>Режим работы поликлиники</h1>
<table>
    <tr>
        <th>День</th>
        <th>Время работы</th>
    </tr>
    <tr>
        <td>Понедельник – Пятница</td>
        <td>с 8:00 до 20:00</td>
    </tr>
    <tr>
        <td>Суббота</td>
        <td>с 9:00 до 15:00 (участковая служба)</td>
    </tr>
    <tr>
        <td>Воскресенье</td>
        <td>с 9:00 до 15:00 (участковая служба)</td>
    </tr>
</table>

</body>
</html>