<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Перечень педиатрических участков</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 2px solid black;
        }
        th, td {
            border: 2px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Перечень педиатрических участков</h1>

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Наименование педиатрического участка</th>
        <th>Перечень адресов участка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Участок № 1</td>
        <td>
            2-Муринский пр. 11, 13, 15, 17, 19<br>
            Новороссийская ул. 2 (1, 2), 4, 6, 8 (1, 2), 10, 12, 14, 16<br>
            Орбели ул. 8<br>
            Пархоменко пр. 5 (общ.), 6, 8, 10, 16 (общ.), 18, 20, 22<br>
            Энгельса пр. 2, 7 (1, 2, 3, 3а, 4), 13/2<br>
            Сердобольская ул. 1, 2<br>
            Б.Сампсониевский пр. 87, 93, 95, 97, 99, 108<br>
            Земледельческая ул. 1
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Участок № 2</td>
        <td>
            Жака Дюкло ул. 4, 6 (1, 2), 8 (1, 2, 3), 10, 12, 14<br>
            Тореза пр. 33, 35 (1-3), 37 (1, 2), 38, 39 (1-3), 40 (1), 43<br>
            Светлановский пр. 43, 45, 47
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Участок № 3</td>
        <td>
            2-й Муринский пр. 16, 22, 24 (1-3), 27, 29, 31, 37, 39, 41<br>
            Новороссийская ул. 20, 22 (1, 2), 24, 26 (1-3), 28 (общ), 30 (1, 2), 32, 34<br>
            Аллея Академика Лихачева 7<br>
            Институтский пер. 5 фл<br>
            Институтский пр. 1, 2 (1, 2), 3 (1-3), 4 (1-3), 6, 9, 11, 16<br>
            Орбели ул. 17, 19, 11, 13/21<br>
            Пархоменко пр. 19, 21 (общ.), 26, 27 (1, 2), 31, 32
        </td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='index.html'">Назад</button>
</body>
</html>